#configures for calculate APBScore
#file path (should end with /):
/home/paul/APBScore/example/Step3_Score/
#complex topology file name:
COM.top
#complex restart file name (should be NetCDF format):
Com_min2.rst
#first receptor residue ID:
1
#last receptor residue ID:
198
#first ligand residue ID:
199
#last ligand residue ID:
199
#fitting coefficient data file path and name:
/home/paul/APBScore/dat/APBScore_Fit_VAC_Diel3.0_123_Rst_kvdw.dat
#end
